<div class="container-map">
    <div class="box-title">
        Nivel 1 Example
    </div>
    <div class="mapbox-container lvl-2">
        <div class="line-lv1-1"></div>
        <div class="mapbox">
            <div class="box-title">
                Diseño centrado en evidencias
            </div>
            <div class="box-description">
                El diseño centrado en evidencias permite realizar afirmaciones válidas sobre las competencias de los estudiantes evaluados por medio de un determinado armazón conceptual (Mislevy y Riconscente, 2005) (Icfes, 2018). Consiste en una estructura jerárquica compuesta por afirmaciones, evidencias y tareas.
            </div>
        </div>
    </div>
    <div class="mapbox-container lvl-2">
        <div class="line-lv1-2"></div>
        <div class="mapbox">
            <div class="box-title">
                Diseño centrado en evidencias
            </div>
            <div class="box-description">
                El diseño centrado en evidencias permite realizar afirmaciones válidas sobre las competencias de los estudiantes evaluados por medio de un determinado armazón conceptual (Mislevy y Riconscente, 2005) (Icfes, 2018). Consiste en una estructura jerárquica compuesta por afirmaciones, evidencias y tareas.
            </div>
        </div>
    </div>
</div>
